.IShop {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.IShop {
    display: flex;
    flex-flow: column nowrap;
    align-content: stretch;
    border: 2px solid darkslategray;
}

.IShop .caption {
    flex: 0 0 3em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

.IShop .item-properties {
    display: flex;
    flex-flow: row nowrap;
    border-top: 1px solid black;
}

.IShop .item-properties {
    text-align: center;
    background-color: blanchedalmond;
}

.IShop .item-properties > * {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.IShop .item-properties > * {
    padding: 0.25em 0.5em;
    word-wrap: break-word;
    /* fallback */
    overflow-x: auto;
    /* if this fails */
    word-break: break-all;
}

.IShop .item-properties > *:not(:last-child) {
    border-right: 1px solid black;
}

.IShop .item-properties div:nth-child(1),
.IShop .item-properties div:nth-child(4) {
    flex: 0 0 25%;
}

.IShop .item-properties div:nth-child(2) {
    flex: 0 0 10%;
}

.IShop .item-properties div:nth-child(3) {
    flex: 0 0 10%;
}

.IShop .item-properties div:nth-child(5) {
    flex: 0 0 10%;
}

.IShop .item-properties div:nth-child(6) {
    flex: 0 1 auto;
}
