body {
    margin: 0;
    padding: 0;
    background-color: #e9e9ed;
}

html, body {
    height: 100%;
}

#root {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1600px;
    background-color: #e9e9ed;
    padding: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
}