body {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 60em;
    flex-basis: 50vh;
    background-color: aqua;
    padding: 1rem;
}