.IShop {
    border-collapse: separate;
    border: 2px solid darkslategray;
}

.IShop caption {
    padding-bottom: 0.5em;
    text-transform: uppercase;
}

.IShop th {
    padding: 0.125em 0.625em;
}

.IShop tr {
    border: 1px solid darkslategray;
}

.IShop td {
    border: 1px solid darkslategray;
    padding: 0.32em;
    background-color: #d7e1d6;
}


@media screen and (max-width: 50em) {
    .IShop th {
        padding: 0.125em;
    }

    .IShop tr {
        word-break: break-word;
    }

    .IShop td:nth-child(2),
    .IShop td:nth-child(3) {
        word-break: initial;
    }
}