@use "sass:math";

$cells-total-count: 7;
$border: 1px solid darkslategray;
$border-bold: 2px solid darkslategray;
$bg-color: white;
$bg-stripe-color: #e9e9ed;
$header-text-color: black;
$header-font-size: 1rem;

.IShopItemCard {

  box-sizing: border-box;

  *, *:before, *:after {
    box-sizing: inherit;
  }

  background: $bg-color;
  border: $border-bold;
  margin-top: 1em;

  .row {
    display: flex;
    flex-flow: row nowrap;
    min-height: 50px;
    &:nth-child(even) {
      background: $bg-stripe-color;
    }
  }

  .cell {
    padding-left: 1em;
    flex-grow: 0;
    flex-shrink: 0;


    &:first-child {
      padding-left: 0.5em;
      width: calc(100% / #{$cells-total-count});
      border-right: $border;
      color: $header-text-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &:nth-child(2) {
      margin-left: 1em;
      align-self: center;
    }

    .userDataInput {
      margin-left: -1em;
      padding: 5px 14px;
      font-size: inherit;
      line-height: 1.3;
      font-family: inherit;
    }



    .actionBtn {
      font-family: inherit;
      font-size: inherit;
      padding: 5px 10px;
    }
  }

}

@media all and (max-width: 767px) {

  .IShopItemCard {
    .cardHeader {
      .cell {
        font-size: math.div($header-font-size * 3, 4);
      }
    }
  }

}