@use "sass:math";

$cells-total-count: 7;
$border: 1px solid darkslategray;
$border-bold: 2px solid darkslategray;
$bg-color: white;
$bg-stripe-color: #e9e9ed;
$header-text-color: black;
$header-font-size: 1rem;

.IShopItemCard,
.NewItemCard {

  box-sizing: border-box;

  *, *:before, *:after {
    box-sizing: inherit;
  }

  position: relative;
  background: $bg-color;
  border: $border-bold;
  margin-top: 1em;

  &:before {
    content: attr(data-id);
    position: absolute;
    right: 0.1875em;
    top: 0;
    z-index: 1;
    font-size: 6em;
    font-family: inherit;
    color: rgba(darken($bg-stripe-color, 20), 0.5);
  }

  .row {
    display: flex;
    flex-flow: row nowrap;
    min-height: 50px;
    &:nth-child(even) {
      background: $bg-stripe-color;
    }
  }

  .cell {
    padding-left: 1em;
    flex-grow: 0;
    flex-shrink: 0;


    &:first-child {
      padding-left: 0;
      width: calc(100% / #{$cells-total-count});
      border-right: $border;
      color: $header-text-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &:nth-child(2) {
      margin-left: 1em;
      align-self: center;
    }

    &.button-cell {
      margin-left: 0;
    }

    .userDataInput {
      margin-left: -1em;
      padding: 5px calc(1em - 2px); // 2px borders
      font-size: inherit;
      line-height: 1.3;
      font-family: inherit;
    }

    .actionBtn {
      font-family: inherit;
      font-size: inherit;
      padding: 5px 10px;

      &:nth-child(2) {
        margin-left: 1em;
      }
    }

    .errMessage {
      margin-left: 1em;
      color: red;
      font-weight: bold;
    }
  }

}

@media all and (max-width: 767px) {

  .IShopItemCard,
  .NewItemCard {
    .cardHeader {
      .cell {
        font-size: math.div($header-font-size * 3, 4);
      }
    }
  }

}