@use "sass:math";

$cells-total-count: 7;
$bg-table: white;
$item-bg-color: #e9e9ed;
$item-text-color: black;
$item-font-size: 1rem;
$selected-item-bg-color: #ee8cfa;
$item-border-width: 1px;
$item-border-double-width: 2px;
$item-border-color: darkslategray;
$item-border-style: solid;
$border: $item-border-width $item-border-style $item-border-color;
$border-bold: $item-border-double-width $item-border-style $item-border-color;

.IShopItem {
  font-size: 100%;
  display: flex;
  flex-flow: row wrap;
  transition: background-color 0.1s ease-in-out;

  &:nth-child(odd) {
    background: $item-bg-color;

    .cell.first {
      z-index: 11;
      background: $item-bg-color;
    }
  }

  &.selected {
    background-color: $selected-item-bg-color;

    .cell.first {
      background-color: $selected-item-bg-color;
    }
  }

  .cell {
    width: calc(100% / #{$cells-total-count});
    padding: 0.5em 0.5em;
    border-right: $border;
    color: $item-text-color;

    text-align: center; // horizontal align
    word-wrap: break-word;
    word-break: break-all;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center; // vertical align

    &.left-align {
      text-align: left;
    }

    &:last-child {
      border-right: 0;
    }

    &.first {
      background: $bg-table;
      z-index: 11;
    }

    .actionBtn {
      display: flex;
      align-self: center;
      padding: 0 1ex;
      font-family: inherit;
    }

    &.column {
      align-items: center;
    }


  }
}

@media all and (max-width: 767px) {
  .IShopItem {

    &:not(:last-child) {
      border-bottom: $border;
    }

    .cell {
      width: calc(100% / #{$cells-total-count - 1});
      font-size: math.div($item-font-size * 3, 4);

      &.first {
        position: sticky;
        z-index: 10;
        top: 69px;
        width: 100%;
        border-right: 0;
        border-bottom: $border;
        filter: opacity(0.96);
        text-align: center;
      }
    }

  }
}


@media all and (max-width: 430px) {
  .IShopItem {

    counter-reset: property-number;
    position: relative;

    .cell {
      width: 100%;
      font-size: $item-font-size;
      border-right: 0;
      counter-increment: property-number;
      padding-left: 3ex;

      &::before {
        content: counter(property-number)": ";
        position: absolute;
        left: 0.25em;
        color: dimgray;
        font-size: 0.75em;
      }

      &.first {
        top: 140px;
      }

      &.column {
        flex-direction: row;
        margin-bottom: 0.5em;
      }

      .actionBtn {
        &:last-child {
          margin: 0 0 0 0.5em;
        }
      }
    }
  }
}
